// Include custom sub theme.
@import 'custom/variables';
//@import 'custom/mixins/misc';
//@import 'custom/misc';

// Include bootstrap variables definitions overrides.
@import 'overrides/variables';

// Include parent theme with all things Bootstrap for full override.
// Relative path to this styles.scss file.
// Example: @import "../../../../../themes/contrib/bootstrap5/scss/style";
@import "../../../../themes/contrib/bootstrap5/scss/style";

@import 'bootswatch';
@import 'drupal-bootstrap';

body {
  margin-top: 60px;
}

//.dropdown-menu {
//  //width: 81rem;
//  //top: 44px;
//  //overflow-y: scroll;
//  //max-height: 400px;
//}

#views-exposed-form-taxonomy-term-product-page-1 .form-wrapper {
  margin-top: 20px;
}

//ul.sf-menu li.sf-depth-2 {
//  position: static;
//}

/*
 * Sample SCSS for adding Superfish CSS to themes.
 *
 * Instructions:
 *
 * 1. Change the #YOUR-BLOCK-ID (below) to the ID of your Superfish block.
 *
 * 2. Add the SCSS to your theme.
 *
 * 3. Note that by removing the .sf-style-none, the style will be applied to the menu regardless of
 *    the "Style" selected in the Superfish block configuration.
 *
 */

// You can add these variables to your _base.scss
$superfish-1-color: $success;
$superfish-1-background-color-level-first: none;
$superfish-1-background-color-level-second: $dark;//#e0e0e0;
$superfish-1-background-color-level-third: $dark;//#d0d0d0;
$superfish-1-background-color-level-fourth: $dark;

#block-catalogmenu {
  .sf-style-none {
    float: left;
    margin: 0;
    padding: 0;
    &.sf-navbar {
      width: 100%;
      background: $superfish-1-background-color-level-first;
    }
    ul {
      padding-left: 0;
      &.sf-multicolumn li {
        &.sf-multicolumn-wrapper {
          background: $superfish-1-background-color-level-fourth;
          li {
            background: transparent;
          }
        }
      }
    }
    a {
      color: $superfish-1-color;
      padding: 0.5em 0.5em;
      &.sf-with-ul {
        padding-right: 2em;
      }
      &:focus {
        background: $superfish-1-background-color-level-fourth;
        outline: 0;
      }
      &:hover {
        background: $superfish-1-background-color-level-fourth;
        outline: 0;
      }
      &:active {
        background: $superfish-1-background-color-level-fourth;
        outline: 0;
      }
    }
    span {
      &.nolink {
        color: $superfish-1-color;
        padding: 0.5em 0.5em;
        &.sf-with-ul {
          padding-right: 2em;
        }
        &:hover {
          background: $superfish-1-background-color-level-fourth;
          outline: 0;
        }
      }
      &.sf-description {
        color: $superfish-1-color;
        display: block;
        font-size: 0.833em;
        line-height: 1.5;
        margin: 5px 0 0 5px;
        padding: 0;
      }
    }
    &.rtl {
      span {
        &.sf-description {
          margin: 5px 5px 0 0;
        }
        &.nolink.sf-with-ul {
          padding-left: 2.25em;
          padding-right: 1em;
        }
      }
      a.sf-with-ul {
        padding-left: 2.25em;
        padding-right: 1em;
      }
    }
    li {
      background: $superfish-1-background-color-level-first;
      li {
        background: $superfish-1-background-color-level-second;
        li {
          background: $superfish-1-background-color-level-third;
        }
      }
      &:hover {
        background: $superfish-1-background-color-level-fourth;
        outline: 0;
        > ul {
          //top: 40px;
        }
      }
      &.sfHover {
        background: $superfish-1-background-color-level-fourth;
        outline: 0;
        > ul {
          //top: 40px;
        }
      }
    }
    .sf-sub-indicator {
      background-image: url('../images/dropdown-arrows.png');
    }
  }
  div.sf-accordion-toggle {
    &.sf-style-none a {
      background: $superfish-1-background-color-level-first;
      color: $superfish-1-color;
      padding: 1em;
      &.sf-expanded {
        background: $superfish-1-background-color-level-fourth;
        font-weight: bold;
      }
    }
  }
  .sf-menu.sf-style-none {
    &.rtl {
      &.sf-accordion li {
        li {
          a {
            padding-left: auto;
            padding-right: 2em;
          }
          li {
            a {
              padding-left: auto;
              padding-right: 3em;
            }
            li {
              a {
                padding-left: auto;
                padding-right: 4em;
              }
              li {
                a {
                  padding-left: auto;
                  padding-right: 5em;
                }
                span.nolink {
                  padding-left: auto;
                  padding-right: 5em;
                }
              }
              span.nolink {
                padding-left: auto;
                padding-right: 4em;
              }
            }
            span.nolink {
              padding-left: auto;
              padding-right: 3em;
            }
          }
          span.nolink {
            padding-left: auto;
            padding-right: 2em;
          }
        }
      }
      ul.sf-multicolumn {
        li.sf-multicolumn-wrapper {
          ol li {
            &.sf-multicolumn-column {
              float: right;
            }
          }
        }
      }
    }
    &.sf-accordion li {
      &.sf-expanded {
        background: $superfish-1-background-color-level-fourth;
        > {
          a {
            font-weight: bold;
          }
          span.nolink {
            font-weight: bold;
          }
        }
      }
      li {
        a {
          padding-left: 2em;
        }
        li {
          a {
            padding-left: 3em;
          }
          li {
            a {
              padding-left: 4em;
            }
            li {
              a {
                padding-left: 5em;
              }
              span.nolink {
                padding-left: 5em;
              }
            }
            span.nolink {
              padding-left: 4em;
            }
          }
          span.nolink {
            padding-left: 3em;
          }
        }
        span.nolink {
          padding-left: 2em;
        }
      }
      a.sf-accordion-button {
        font-weight: bold;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 499;
      }
    }
    ul.sf-multicolumn {
      li.sf-multicolumn-wrapper {
        ol {
          margin: 0;
          padding: 0;
          li {
            margin: 0;
            padding: 0 0 0 0.1rem;
            &.sf-multicolumn-column {
              display: inline;
              float: left;
            }
          }
        }
        a.menuparent {
          font-weight: bold;
        }
        span.nolink {
          &.menuparent {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.field--name-quantity .form-item .form-control {
  width: 6em;
}

.field--name-field-stock .field--label, .add-to-cart-form .field--name-quantity  label {
  display: none;
}

.cart-block--contents {
  width: 50rem;
  right: 0;
}

.block-field-blockcommerce-productdefaulttitle .field--name-title,
h2.title-product {
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  margin: 0;
  max-height: 50px;
  min-height: 50px;
  overflow: hidden;
}

h2.block-title {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h2.block-title::before,
h2.block-title::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #000;
}

h2.block-title:not(:empty)::before {
  margin-right: .25em;
}

h2.block-title:not(:empty)::after {
  margin-left: .25em;
}

.views-field-price__number,
.field--name-price {
  margin: 5px 0;
  font-weight: bold;
  min-height: 45px;
}

.old-price {
  font-size: 1.2em;
  color: $secondary;
  text-decoration: line-through;
  display: inline-block;
  padding: 0 5px;
}

.percentage-off {
  color: $success;
  display: inline-block;
  padding: 0 5px;
}

.new-price {
  font-size: 1.2em;
  font-weight: bold;
}

$card-height: 100%;

// TAGS

.field--name-field-tags {
  position: absolute;
  top: 12%;
  z-index: 3;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}

.field--name-field-tags .field--label {
  display: none;
}

.field--name-field-tags .field__item a {
  padding: 4px 8px;
  height: 28px;
  line-height: 20px;
  display: inline-block;
  color: #fff;
}

.field--name-field-tags .field__item a:hover,
.field--name-field-tags .field__item a:active {
  color: #fff;
  text-decoration: none;
}

a.tid-1636,
a.tid-item {
  background-color: #34af31;
}
a.tid-500 {
  background-color: #4865ff;
}
a.tid-501 {
  background-color: #ff6400;
}
a.tid-502 {
  background-color: #ffd100;
}
a.tid-1697 {
  background-color: #f00;
}

h2.taxonomy-term-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
}

#views-exposed-form-product-search-page-1 {
  .form-item,
  .form-actions {
    margin-top: 0;
    margin-bottom: 0;
  }
}
