<nav aria-labelledby="block-b5theme-main-menu-menu" id="block-b5theme-main-menu" class="block block-menu navigation menu--main">
  <h5 class="visually-hidden" id="block-b5theme-main-menu-menu">Основная навигация</h5>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a href="/" class="nav-item nav-link dropdown-toggle is-active" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Expand menu Главная" data-drupal-link-system-path="<front>">Каталог</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a href="/brand" class="dropdown-item" data-drupal-link-system-path="brand">Brand</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
